<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <p>
        This page was built by <a target="_blank" href="http://github.com/AlexMaravilla">Alex</a> Alex is a US Army Veteran and current student of the Firehose Project.
    </p>
    <br />
    <p>
        Alex is also currently a fulltime student at California Polytechnic State University Pomona, studying Business.
    </p>
    <p>
        If you want to learn how to code - start <a target="_blank" href="http://www.thefirehouseproject.com/"> here</a>.
    </p>
    
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'Alex.jpg', class: 'img-fluid' %>
        </div>
        
        <div class="col-12 col-7 offset-sm-1">
            <h2 class="text-center">Alex Maravilla</h2>
            <br />
            </p>
            Alex Maravilla is studying to be a web developer. He would like to work in the sports industry and learn how to create his own websites.
            </p>
        </div>
    </div>
    <br class="clear" />
    
</div>

<br class="clear" />
<br />
<br />
<br />
<br />



